.vb-article-center {
    padding-top: 62px;
    width: 100%;
    .center-panel {
        width: 20%;
        margin-left: 8px;
        //  height: 1400px;
    }
    .center-detail {
        width: 60%;
    }
}