.vb-panel {
    margin-top: 8px;
    padding: 12px 18px;
    box-sizing: border-box;
    .panel-title {
        color: #222222;
        span {
            font-size: 16px;
            margin-left: 4px;
        }
        padding-bottom: 16px;
    }
    .panel-center {}
}

.vb-panel:first-child {
    margin: 0px;
}